<!DOCTYPE html>
<html lang="en">

<%- include ('head'); %>
    

<body>
    <div class="container">
        <div class="row">
            <div class="col-10 col-lg-8 mx-auto card error-card">
                <img class="w-100" src="/img/404.jpg" alt="404 error">
                <div class="mt-5 text-center">
                    <h3 class="section-heading">Oops, something went wrong!</h3>
                    <p class="section-sub-heading">Please try again...</p>
                    <a href="/">
                        <div class="back-arrow mt-3 mb-3"><i class="far fa-arrow-alt-circle-left"></i></div>
                    </a>
                </div>
            </div>
        </div>
    </div> 
    <%- include('bs-scripts'); %>
</body>

</html>
