<div class="footer">
    <footer class="container-fluid footer-bg">
        <div class="row text-center">
            <div class="col-12 text-center social-icons-footer">
                <h4 class="footer-text mt-4 mb-4">Stay Connected</h4>
                <a class="ic-fb social-icon-shadow" href="https://www.facebook.com/" target="_blank"
                    aria-label="Find us on Facebook" rel="noopener">
                    <i class="fab fa-facebook fa-2x"></i>
                </a>
                <a class="ic-ins social-icon-shadow" href="https://www.instagram.com/" target="_blank"
                    aria-label="Find us on Instagram" rel="noopener">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>
                <a class="ic-twi social-icon-shadow" href="https://www.twitter.com/" target="_blank"
                    aria-label="Find us on Twitter" rel="noopener">
                    <i class="fab fa-twitter fa-2x"></i>
                </a>
                <span class="footer-text d-block mt-4 mb-4">© 2021 LetsGetChecked | Jon Gill</span>
            </div>
        </div> 
    </footer>
</div> 	
