<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
    name="description"
    content="Blog posts app - read and comment on blogs"
  />
  <meta
    name="keywords"
    content="Blog, post, comment,  medical testing, labs, tech, Irish startup, health screening, wellness"
  />
  <meta name="author" content="Jon Gill" />
  <meta
    property="og:image"
    content="https://cdn.pixabay.com/photo/2021/01/13/16/46/workout-5914643_960_720.jpg"
  />
  <meta property="og:url" content="http://blog-in-node.herokuapp.com/blogs" />

  <!--Vendor Scripts-->

  <!-- Bootstrap CSS-->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
    crossorigin="anonymous"
  />
  <!-- Google fonts - Open Sans-->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Monoton&family=Source+Sans+Pro:wght@300;400;600&display=swap"
    rel="stylesheet"
  />
  <!-- Custom CSS-->
  <link rel="stylesheet" href="/css/styles.css" />
  <!-- Favicon-->
  <link rel="shortcut icon" href="/img/favicon.ico" />
  <!-- Font Awesome CSS-->
  <script
    src="https://kit.fontawesome.com/37c18c4168.js"
    crossorigin="anonymous"
  ></script>

  <title><%= title %> | LetsGetChecked</title>
</head>
